@charset "UTF-8";

#popupWindow {
    position: fixed;

    top: 50px;
    
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

}

#popupBox {
    width: 30%;

    background-color: white;

    position: relative;
    left: 30%;
    top: 30%;;
    }

#popupBox button {
    width: 100%;
    height: 50px;

    border: none;
    background-color: white;

    font-size: 15px;
}

#popupBox button:nth-child(1), #popupBox button:nth-child(3) {
    color: rgb(237, 73, 86);
}