@charset "UTF-8";


#noFollowerBox {
	text-align: center;

	margin-top: 50px;
}

#followSuggestButton {
	width: 400px;
	height: 100px;

	font-size: 30px;

	border: none;

	background-color: #e59999;

	color: white;

	margin-top: 50px;
}