@charset "UTF-8";

body {
    position: relative;
    top: 70px;
}

#messageBox {
    width: 80%;
    height: 650px;

    border: 1px solid black;

    position: relative;
    left: 10%;

    overflow: hidden;
}

#userSelectBox {
    width: 30%;

    overflow: auto;
}

#userBox {
    width: 100%;
    overflow: scroll;
}

#loginUserInfo h1 {
    display: inline-block;
    width: 100%;

    text-align: center;
}

#loginUserInfo i {
    font-size: 50px;
    float: right;

    position: relative;
    bottom: 65px;
}


.userSelect {
    border: 1px solid black;

}


.userImg {
    display: inline-block;
    width: 75px;
}

.userText {
    display: inline-block;
}