@charset "UTF-8";

#addFaqForm {
    height: 500px;

    margin-top: 100px;
}

#addFaqForm input[type=text] {
    width: 90%;
    height: 50px;
    font-size: 20px;
    
    position: relative;
    left: 5%;
    text-align: center;
    margin-bottom: 30px;
}

#addFaqForm textarea {
    width: 90%;
    height: 300px;
    font-size: 30px;
    
    position: relative;
    left: 5%;

    margin-bottom: 30px;
}

#addFaqForm input[type=submit] {
    width: 50%;
    height: 50px;

    position: relative;
    left: 25%;

    border: none;

    background-color: #e59999;

    font-size: 20px;
}