@charset "UTF-8";

#topnav input[type=submit] {
    display: none;
}

body {
    margin: 0px;
}

#topnav {
    width: 100%;
    height: 60px;
    overflow: hidden;

    background-color: rgb(230, 153, 153);

    position: fixed;
    top: 0%;
    left: 0%;

    z-index: 100;
}

#logo {
    display: inline-block;

    position: relative;
    left: 10%;
}

#logo img {
    width: 50px;

    position: relative;
    top: 5px;
}

#logo img:hover {
    opacity: 0.5;
}

#searchBar {
    display: inline-block;

    position: relative;
    left: 30%;
    top: 20px;
}

#topnav form {
    display: inline-block;
    position: relative;
    left: 25%;
}

#searchBar i {
    font-size: 250%;
    color: white;
    position: relative;
    bottom: 20px;
}

i:hover {
    opacity: 0.5;
}

#searchBar input {
    position: relative;
    bottom: 35px;

    height: 40px;
    width: 250px;
    background: rgb(239, 239, 239);

    border: none;

    font-size: 20px;

    padding-left: 10px;
}


#icons {
    display: inline-block;

    float: right;
    position: relative;
    right: 10%;
}

#icons i {
    font-size: 250%;
    color: white;

    margin-right: 10px;
}

#userIcon {
    width: 50px;

    border-radius: 50%;

    position: relative;
    top: 5px;
}

#userIcon:hover {
	opacity: 0.5;
}