@charset "UTF-8";

html, body  {
    height: 100%;
}

#mainContent {
    width: 60%;

    position: relative;
    left: 10%;
}

#mainContent i:hover {
    opacity: 0.5;
}

#myStory {
    background-color:#e59999;
    
    width: 85px;
    height: 85px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
}

#story {
    border: 0.5px solid black;

    height: 130px;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    
    position: relative;
    top: 30px;
}


.storyBubble {
    width: 90px;

    overflow: hidden;
    margin-left: 20px;

    display: inline-block;
}

.storyBubbleContent {
    width: 90%;

    position: relative;
    left: 5%;
    top: 7.5px;
}

.storyBubble img {
    width: 80px;
    height: 80px;

    border-radius: 50%;
    object-fit: cover;    
}

.storyBubble h3 {
    font-size: 90%;
    text-align: center;
}

#postFeed {
    position: relative;
    top: 80px;
}

.post {
    border: 0.5px solid black;

    margin-bottom: 50px;
}

.postBar {
    width: 95%;
    height: 75px;
    
    position: relative;
    left: 2.5%;
    top: 10px;
}

.post form {
    width: 100%;
    position: relative;
    left: 0%;
}

.postBar button {
    float: right;
    width: 60px;
    font-size: 300%;

    display: inline-block;

    border: none;
    background-color: white;
}

.postBarUserInfo {
    display: inline-block;
}

.postBarUserInfo:hover {
    opacity: 0.5;
}


.postBar button:hover {
    opacity: 0.5;
}

.postBar button i {
    font-size: 35px;
}

.postBar img {
    display: inline-block;
    width: 50px; height: 50px;

    border-radius: 50%;
    object-fit: cover;
}

.postBarInfo {
    position: relative;
    bottom: 7.5px;
}

.postBarInfo, .postBar i {
    display: inline-block
}

.postBarInfo h3, .postBarInfo h4 {
    margin: 0px;
}

.postImg img {
    width: 100%;
}

.postIcons {
    width: 90%;
    position: relative;
    left: 5%;
    top: 10px;
}

.postIcons i {
    font-size: 250%;
    margin-right: 15px;
}

.postIcons i:nth-child(4) {
    float: right;
    margin-right: 0px;
}

.postlike {
    margin: 0px;
}

.postInfo {
    width: 90%;
    
    position: relative;
    left: 5%;
}

.postInfo h3 {
    display: inline-block;
}

.postContent h3, .postContent p {
    margin: 0px;
    display: inline-block;
}

.addComment {
    margin-top: 20px;
    margin-bottom: 20px; 

    height: 45px;
}

.addComment input[type=text] {
    width: 90%;
    height: 100%;

    font-size: 20px;

    border: none;
}

.addComment input[type=submit] {
    width: 7.5%;
    height: 100%;

    border: none;
    background-color: white;

    color: rgb(0, 145, 239);

    font-size: 20px;
}

#subBar {
    width: 20%;
    height: 85%;
    
    position: fixed;

    left: 75%;
    top: 80px;


}

#myProfile {
    position: relative;
    top: 20px;
}

#myProfile:hover {
    opacity: 0.5;
}

#myProfile img {
    width: 70px;
    height: 70px;

    border-radius: 50%;

    display: inline-block;
    object-fit: cover;
}

#myProfileInfo {
    display: inline-block;

    position: relative;
    bottom: 15px;
}

#myProfile h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}

#myProfile h4 {
    margin-top: 10px;
}


.followerInfoWrapper {
    display: inline-block;
    width: 70%;
}

.followerInfoWrapper:hover {
    opacity: 0.5;
}

.followerInfo h3 {
    margin: 0px;
}

.followerInfo h4 {
    margin-top: 10px;
}

.follower input {
    float: right;
    height: 50px;

    border: none;
    background-color: white;

    color: rgb(0, 145, 239);
}

.follower input:hover {
    opacity: 0.5;
}

.followerImg {
    width: 50px;
    height: 50px;

    border-radius: 50%;

    display: inline-block;
    object-fit: cover;
}

.followerInfo {
    display: inline-block;
}

#followMessage {
    margin-top: 40px;
    margin-bottom: 20px;
}

#subBar h4 {
    color: rgb(142, 142, 142);
}

#subBar img {
    margin-right:10px;
}

#followProfile {
    height: 500px;
    overflow-y: auto;
}