@charset "UTF-8";

body {
    position: relative;
    top: 70px;
}

#messageBox {
    width: 80%;
    height: 650px;

    border: 2px solid black;

    position: relative;
    left: 10%;
    top: 50px;
}

#userSelectBox {
    width: 30%;

    display: inline-block;
}

#userBox {
    width: 100%;
    height: 500px;
    overflow-y: scroll;

    display: inline-block;
}

#loginUserInfo h1 {
    display: inline-block;
    width: 100%;

    text-align: center;
}

#loginUserInfo i {
    font-size: 50px;
    float: right;

    position: relative;
    bottom: 65px;

    color: rgb(230, 153, 153);
}

#loginUserInfo i:hover {
    opacity: 0.5;
}


.userSelect {
    border: 1px solid black;

}


.userImg {
    display: inline-block;
    width: 75px;
}

.userText {
    display: inline-block;
}


#userMessageBox {
    width: 65%;

    position: relative;
    left: 2.5%;
    bottom: 200px;
    
    display: inline-block;

    text-align: center;
}

#messageNoSelectionMessage i {
    font-size: 100px;

    color: rgb(230, 153, 153);
}



#messageNoSelectionMessage button {
    width: 300px;
    height: 50px;

    border: none;

    background-color: rgb(230, 153, 153);
    color: white;

    margin-top: 20px;
    
    font-size: 25px;
}

#messageNoSelectionMessage button:hover {
    opacity: 0.5;
}