@charset "UTF-8";

body {
    position: relative;
    top: 70px;
}

.notiBox {
    background-color: rgb(251, 232, 226);

    width: 80%;
    height: 200px;

    margin-bottom: 50px;

    position: relative;
    left: 10%;
}

.notiBoxContent {
    width: 90%;
    height: 90%;

    position: relative;
    top: 5%;
    left: 5%;
}

.userImg {
    height: 100%; 
    border-radius: 50%;
    
}

.notiTextBox {
    display: inline-block;
    position: relative;
    left: 5%;
    bottom: 40%;
}

.notiText {
    display: inline-block;
    font-size: 150%;
}


.postImg {
    display: inline-block;
    float: right;

    height: 100%;
}

#notiNullMessage {
    text-align: center;

    position: relative;
    top: 30px;
}