#qnaBox {
    width: 70%;

    position: relative;
    left: 15%;
}

.qnaTitle {
    width: 90%;
    position: relative;
    left: 5%;

    border-radius: 15px;
}

.qnaTitle h3 {
    display: inline-block;
    font-size: 25px;
}

.qnaTitle h3:first-child {
    color: silver;
    margin-right: 20px;
}

.qnaTitle h3:last-child {
    float: right;
    color: silver;

    font-size: 20px;
}

.qnaTitle:hover {
    background-color: rgb(243, 244, 245);
}

.qnaTitleContent {
    width: 95%;
    position: relative;
    left: 2.5%;
}

#allQnaBox {
    margin-top: 50px;
}

#popup {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}

#popupBox {
    background-color: white;
    width: 70%;
    height: 500px;
    
    position: relative;
    left: 15%;
    top: 200px;
}

#popupBoxContent {
    width: 70%;
    height: 440px;

    position: relative;
    left: 15%;
    top: 30px;
}

#popupBox h1 {
    text-align: center;
    margin-bottom: 40px;
}

#popupBox p {
    font-size: 130%;
}

#popupBox button {
    position: absolute;
    width: 50%;
    height: 40px;
    
    left: 25%;
    bottom: 0px;

    font-size: 20px;

    border: none;
    background-color: rgb(230, 153, 153);
    color: white;
}

#popupBox button:hover {
    opacity: 0.5;
}

.mark {
    color: silver;
    margin-right: 20px;
}

#popup h1 {
    display: inline-block;
}