@charset "UTF-8";

body{
	margin: 0;
}
@font-face { font-family: 'Material Icons'; font-style: normal; font-weight: 400; src: url(path/to/MaterialIcons-Regular.eot); /* For IE6-8 */ src: local('Material Icons'), local('MaterialIcons-Regular'), url(path/to/MaterialIcons-Regular.woff2) format('woff2'), url(path/to/MaterialIcons-Regular.woff) format('woff'), url(path/to/MaterialIcons-Regular.ttf) format('truetype'); }
.material-icons { font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 24px; /* Preferred icon size */ display: inline-block; line-height: 1; text-transform: none; letter-spacing: normal; word-wrap: normal; white-space: nowrap; direction: ltr; /* Support for all WebKit browsers. */ -webkit-font-smoothing: antialiased; /* Support for Safari and Chrome. */ text-rendering: optimizeLegibility; /* Support for Firefox. */ -moz-osx-font-smoothing: grayscale; /* Support for IE. */ font-feature-settings: 'liga'; }

#clear {
	height: 30px; width: 100%;
}

#highClear{
	height: 58px; width: 100%; 
}

#hightClear:last-child{
	position: absolute; background: yellow;
}

#goBack{
	cursor:pointer;
}

#posting{
	width: 800px;
	margin:0 auto; text-align:center;
}

#posting>tbody>tr:nth-child(1) {
	color:red;
}

#posting a{
	 text-decoration:none;
}

#posting textarea{
	resize:none;
	background : #efebe8;
}

#container_wrap{
	position:relative;
	width: 170px; height: 100px; 
	margin:0 auto;
	overflow:hidden;
}

#image_container{
	position: absolute;
	top: 50%; left: 50%;
	transform:translate(-50%, -50%);
	overflow:hidden;
}

.button_wrap {
	position:absolute; margin:0 auto;
	text-align:center;
	width: 100%; height: 100%;
	display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 1ch;
}

.icon_wrap {
	height : 300px; width: 520px; margin: 0 auto 
	
}

#temp{
	position:relative;
	height: 50px; width: 100%;
}

#button{
	position:relative; float: left;
	background: green;
	height: 300px; width: 230px;
}

#button:first-child{
	margin-right: 40px;
}

.button:hover{
	transition: 1s;
	transform:scale(0.98);
}

.button:last-child {
	margin: 0px;
}

#story_wrap{
	position: relative;
	width: 70%; height: 200px;
	background: yellow;
	margin:0 auto;
}

.slot{
	position: relative;
	width: 150px; height: 200px;
	background: skyblue;
	margin : 0 auto;
	text-align: center;
	float: left;
	margin-right: 20px;
}

.story_img {
	position: relative;
	width: 100px; height: 100px;
	border-radius:50px;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	background: pink;
	overflow:hidden;
}

.wrap {
	position: absolute; top: 0; left: 0; 
	height: 100%; width: 100%;
	display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 1ch;
}

.detail_wrap{
	position: relative;
	width:1100px; height:720px; 
	margin:0 auto; margin-top: 20px;
	border-radius: 10px;
	border: 1px solid black;
	overflow: hidden;
	
}

.detail_img{
	position: relative; float:left;
	width: 66%; height: 100%;
	background: #e59999; overflow:hidden;
}

.detail_img img{
	position: absolute;
	top : 50%; left: 50%;
	transform:translate(-50%, -50%);
	margin: 0 auto;
}

.contents{
	position: relative;
	width: 33%; height: 90%;
	float:left;
	margin-left: 10px;
}

.contents label{
	font-weight: 600; font-size: 105%; margin-right: 10px;
}

#user{
	position: relative; margin-top: 20px; margin-bottom: 20px; line-height: 50px; 
	width: 100%; height:50px; 
	text-size: 80%; 
}

#userprofile{
	position: relative; overflow:hidden; float:left;
	width: 50px; height:50px; line-height: 50px;
	border-radius:50px;
}

#goUserprofile{
	position: absolute; overflow:hidden; top: 0; right: 2%;
	width: 50px; height:50px; line-height: 50px;
	border-radius:50px;
}

#buttons {
	position: relative; float: right; top:5px; text-align:right; margin-right:5px;
	width: 50px; height: 100%;
}

#big_userprofile {
	position: relative;	float:left; margin-left: 20px; margin-top:20px;
	width: 80px; height:80px;
	border-radius:50px;
	overflow:hidden;
}

#input-goBack-button{
	padding: 10px 25px; background-color:white;
  	border-radius: 4px;  border: 1px solid #999999; color: #e59999; font-size: 90%; font-weight: bold;
  	cursor: pointer; 
}


#content{
	font-size:90%;
	margin-top: 20px; border-top: 1px solid #909090;
	position: relative;
	width: 100%; height: 33%;
	border: 1px solie balck;
}

#posting_wrap {
	margin-top: 20px;
}

#text_content{
	font-size:90%; word-break: break-all;
	width: 65%; height : 50px; margin-left:22px;
	float:left;  line-height: 19px;
}

#post_address {
	width: 100%; height: 20px; 
	margin-top: 10px; 
	color: #999999;  vertical-align: middle;
}

#date {
	width: 80%; height: 20px; line-height:20px;
	margin-top: 10px; 
	color: #e59999; font-size: 90%;
}

#reaction{
	position: relative; top: 6%;
	width: 100%; height: 5%;
}

.detail_wrap b {
	margin-left: 10px;
	margin-right: 10px;	
}

.reply{
	font-size: 90%;
	position: relative;
	width: 100%; height: 40%; 
	overflow: scroll;
	overflow-x: hidden;
}

#reply_each{
	position:relative;
	width: 100%; height:28%; margin-top:3%;
}

#reply_each span{
	color: #999999; font-size: 145%; padding-top: 8px; 
	cursor: pointer; float:left;
}

#reply_each #text_content{
	margin-left: 15px; margin-top: 5px;
}

.reply img {
	overflow: hidden;
	border-radius: 50%;
	width:50px; height:50px;
	float:left;
}

.reply img:last-child{
	width:23px; height:23px;
	float: left; margin-top:5%;
}

.reply::-webkit-scrollbar {
    width: 10px;
    background-color: #efebe8;
  }

.icon_like {
	float:left;
}

#reaction img{
	margin-left:10px;	
}

#write_reply_wrap{
	border-top: 1px solid black; height: 16%;
	margin:0 auto; text-align: center;
	position: relative; top: 7%; display: flex;
    align-items: center;
}

#reply_content {
	resize: none;
	outline: none;	 
	padding: 15px 15px 15px 15px;
	margin-top: 20px;
}

#comment_area{
	background: red;
	width: 80%; height: 10%;
	margin:0 auto; margin-top:5%;
	outline: none;
	padding: 15px 17px 15px 17px;
}

/* ---------------------------modal---------------------------------- */


#setting{
	position: absolute; 
	height: 100%; width: 100%; z-index: 1; 
	display: none; flex-direction: column; align-items: center; justify-content: center; gap: 1ch;
}

#setting_menu{
    width: 300px; height: 210px;
    text-align: center; background: #fff; border-radius:3%;
}

#setting .setting_layer{
	position:fixed; top:0; left:0; z-index:-1;
	width:100%; height:100%; 
	background:rgba(0, 0, 0, 0.5); backdrop-filter: blur(2px);
}

#setting .setting_btn{
	width: 300px; height: 70px; border-radius: 3%
	text-align:center; line-height: 70px; font-size:90%; font-weight:700; 
	border-bottom:1px solid #909090;
	
}

#setting .setting_btn a{
	text-decoration:none; 
}

#setting .setting_btn:nth-child(3) {
	color:red; border:0;
}


/* ---------------------------story---------------------------------- */

#logo {
	position: absolute; top: 0; left: 1%; 
	height: 50px; widht: 100%;
}

#storyArea{
	position: relative; margin:0 auto; margin-top: 10px; text-align: center;
	width:100%; height:95%; overflow: hidden;
	display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 1ch; 
}

.story_content{
	position:relative; text-align: center; margin: 0 auto;
	width: 25%; height: 95%; border: 1px solid black; border-radius: 10px;
	float:left; overflow: hidden;
	background: pink;
}

#story_img{
	width: 100%; height: 100%;
	object-fit:cover;
}

#story_user{
	position: absolute; top:3%; left:4%; float:left;
	width: 60%; height: 50px; text-align: center; line-height: 50px; color:white; 
}

#story_user #userid{
	float:left; margin-left: 10px;
}

#storyArea #buttons{
	position: absolute; top:4%; right:4%;
	width:20px;height: 20px; color:white;
	
}

#storyArea #post_address{
	position: absolute; top:10%; right: 35%; display: inline-block; 
}



#storyArea #reaction{
	position: absolute; top:10%; right: 35%;
	width: 100%; height: 30px;
}

#write_reply{
	position: relative;  left: 8%; bottom: 10%;
}

#write_reply span {
	position: relative; bottom: 10px; left: 5%;
}

#storyArea #reaction{
	position: absolute; top:93%; left: 40%;
}
#write_reply_wrap #reply_content {
	position: relative; top:7%; 
	margin-top: 0; outline: none;
}

#story_date{
	float: right; color: white; font-size: 80%; opacity: 70%
}

#story_content{
	position: absolute; top:80%; left:50%;  transform: translate(-50%, -80%);
	color: white;
}

#goBefore{
	position: absolute; top: 50%; left: 2%;
	cursor: pointer;
}

#goNext{
	position: absolute; top: 50%; right: 2%;
	cursor: pointer;
}


/* --------------------------- report ---------------------------------- */

.report_wrap {
	width:300px; height:450px; margin: 0 auto;
	border: 1px solid black; opacity: 80%; text-align:center; 
	border-radius: 2%;
}

.user_report_wrap{
	width:300px; height:450px; margin: 0 auto;
	border: 1px solid black; opacity: 80%; text-align:center; 
	border-radius: 2%;
}

.report_wrap #clear{
	height: 5%;
}

.reportTitle{
	width: 90%;  margin: auto; margin-bottom: 5%;
	height: 50px; line-height: 50px; border-bottom: 1px solid #999999;
}

.reportContent {
 	width: 70%;  height:230px; margin: 0 auto; margin-top: 5%; margin-bottom: 5%;
}

.reportContent label{
	float:left; font-size: 90%; margin-top: 3%;
}


/* -----------------------explore-------------------------- */

#postList {
	position: relative;
	width: 65%; height:100%; 
	margin:0 auto;
}

.userPost {
	position: relative; float: left;  margin: 24px 12px auto; 
	width: 300px; height: 300px; 
	overflow:hidden;
	background: #e59999;
	display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
}


.userPost img{
	object-fit: cover; 
}

.userPostInfo {
	color: white; z-index: 1;
	position: absolute; top: 50%; 
	opacity: 0; transition-duration: 0.5s;
}

.userPostInfo h3{
	float: left;
}

.userPostInfo i{
	float: left;
}

.userPostInfoLayer{
	position:absolute; top:0; left:0; 
	width:300px; height:300px; opacity: 0; transition-duration: 0.5s;
	background:rgba(0, 0, 0, 0.5); backdrop-filter: blur(2px);
}


.userPost:hover .userPostInfo {
	opacity: 1;
}

.userPost:hover .userPostInfoLayer {
	opacity: 1;
}

/*-------------------posting----------------------*/

#postingDiv {
	position: relative; margin: 0 auto;
	width: 550px; height: 750px; border: 1px solid black; 
	border-radius: 10px; text-align: center;
	overflow: hidden;
}

#postingTitle{
	text-align: center; line-height: 50px; padding-top: 5px; margin-bottom: 10px;
	display: inline-block; background: #e59999; color: white;
	width: 100%; height: 50px;
}
#postingContent {
	width: 100%; height: 400px;
}
.input-file-button{
	position: relative; top: 50%; left: 1%;
	padding: 6px 25px; background-color:#e59999;
  	border-radius: 4px;  color: white; font-size: 90%;
  	cursor: pointer; 
}

#input-file { display : none; }
#input-submit { display : none; }
#input-reset { display : none; }

#thumbnail{
	margin: 0 auto;
	width: 400px; height: 400px; background: white;
	overflow: hidden;  border: 1px solid black; 
}

#image_container {
	position: relative;
	top: 45.3%; left: 50%;
	overflow:hidden;
}

#image_container img {
	width: 400px;
}

#postingDiv textarea{
	resize:none;
	background : #efebe8;
	width: 400px; font-size: 90%;
	margin-bottom: 15px; margin-top: 15px; 
}

#goBack{
	position: relative; top: 13px; left: 25px;
	float: left;
}


#submit-buttons{
	position: relative; top: 15px;
	width: 100%; height: 50px; margin: 0 auto; 
}

#input-submit-button{
	position: relative; margin-right: 20px; padding: 5px 10px 5px 16px; 
	background: #e59999; border-radius: 4px; color:white; font-size: 90%;
  	cursor: pointer; 
}

#input-reset-button{
	position: relative; padding: 5px 10px; 
	background: #e59999; border-radius: 4px; color:white; font-size: 90%;
  	cursor: pointer;
}

#newPost{
	position: relative; font-size: 110%; font-weight: bold;
}

.report_wrap #input-reset-button{
	margin-top: 100px;  padding: 5px 75px;
}

/* -----------------------uploadStory-------------------------*/

.select-css {
	display: block; color: #7c7c7c; line-height: 1.5; 
	padding: 0; margin: 0 auto; margin-bottom: 10px; 
	width: 406px; border: 1px solid black; background:  #efebe8;
	-moz-appearance: none; -webkit-appearance: none; appearance: none;
	font-size:78%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #e59999;
	box-shadow: 0 0 1px 3px #e59999;
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

#postingStory{
	position: relative; margin: 0 auto;
	width: 550px; height: 80%; border: 1px solid black; 
	border-radius: 10px; text-align: center; overflow: hidden;
}

#postingStory textarea {
	resize:none; 
	background : #efebe8;
	width: 400px; font-size: 90%;
	margin-top: 10px; 
}

#postimgStory #clear{
	height: 10px;
}
