@charset "UTF-8";

body {
    position: relative;
    top: 70px;
}

.notiBox {
   	background-color: rgb(251, 232, 226);
    width: 80%; margin-bottom: 50px;
    
    position: relative; left: 10%;
    
    display: flex; justify-content: center; align-items: center;
}

.notiBoxContent {
    width: 90%;
    height: 90%;
    
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.userImg {
    width: 20%;
    min-width: 80px;
    padding-top: max(20%, 80px);
    border-radius: 50%;
    object-fit: cover;
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: center;
}


.notiTextBox {
    display: inline-block;
    position: relative;
    left: 5%;
}

.notiText {
    display: inline-block;
    font-size: 150%;
}


.postImg {
    display: inline-block;
    float: right;

    height: 100%;
}

#notiNullMessage {
    text-align: center;

    position: relative;
    top: 30px;
}

.notiDate {
	font-size: 110%;
	color: #999999;
	font-weight: 600;
	margin-left: 10px; 
}