@charset "UTF-8";

body {
    background-color: #efebe8;
}

#findidpwdBox {
    width: 50%;
    height: 600px;

    overflow: hidden;

    position: relative;
    left: 25%;
    top: 50px
}

#findidBox, #findpwdBox {
    width: 40%;
    height: 600px;

    display: inline-flex;

    background-color: white;

    position: relative;
    left: 5%;
    text-align: center;
}

#findidBox {
    margin-right: 20px;
}

#findpwdBox {
    margin-left: 20px;

    position: relative;
}

#findidBox input[type=text] {
    width: 80%;
    height: 30px;

    margin-bottom: 20px;

    padding-left: 20px;

    font-size: 20px;
}

#findidBox input[type=submit] {
    width: 90%;
    height: 40px;

    border: none;

    background-color: #e59999;
    color: white;

    font-size: 20px;

    position: relative;
    top: 350px;
}

#findpwdBox input[type=text] {
    width: 80%;
    height: 40px;

    margin-bottom: 20px;
    
    padding-left: 20px;

    font-size: 20px;
}

#findpwdBox input[type=text]:nth-child(5) {
    width: 50%;
}

#findpwdBox input[type=button] {
    width: 30%;
    height: 40px;

    border: none;
    background-color: #e59999;
    color: white;

}

#findpwdBox input[type=submit] {
    width: 80%;
    height: 40px;

    border: none;

    background-color: #e59999;
    color: white;

    font-size: 20px;

    position: relative;
    top: 200px;
}